<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title class="blog-title">Roselia-Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-title" content="Roselia Blog">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="apple-touch-icon" href="favicon.ico"/>
    <meta name="theme-color" content="#7c4dff">
    <link href="static/css/roselia.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/materialize.min.css">
    <link href="static/css/material_icons.css" type="text/css" rel="stylesheet">
</head>
<body>

<nav class="blog-color" id="mobile-nav">
    <div class="nav-wrapper">
        <a href="#" data-activates="mobile-list" class="button-collapse"><i class="material-icons">menu</i> </a>
        <div class="container">
            <a href="./" class="brand-logo blog-title">Roselia-Blog</a>
            <ul class="left hide-on-med-and-down">

            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Index</a> </li>
                <li><a href="./login" class="username">Login</a> </li>
            </ul>
            <ul class="side-nav" id="mobile-list">
                <li><a href="/">Index</a> </li>
                <li><a href="./login" class="username">Log-in</a> </li>
            </ul>
        </div>
    </div>
</nav>
<div class="parallax-container white-text">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center blog-text left blog-title" id="main-title">Roselia</h1>
            <br>
            <div class="row">
                <p class="header col s12 light blog-motto" id="sub-title">Do what you want to do, be who you want to be.</p>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img id="main-pic" src="static/img/bg_n0.png"> </div>
</div>

<div class="container">
    <div class="section">
        <div id="content" class="row" style="display: none;">
            <div v-if="app.userData && app.userData.role" class="fixed-action-btn">
                <a class="btn-floating btn-large blog-color waves-effect" href="edit">
                  <i class="large material-icons">add</i>
                </a>
                <ul>
                    <li><a class="btn-floating red" onclick="utils.deleteDraft();Materialize.toast('Draft cleaned.', 3000)"><i class="material-icons">delete</i></a></li>
                    <li><a class="btn-floating blog-color" onclick="$('html,body').animate({scrollTop: 0})"><i class="material-icons">keyboard_arrow_up</i></a></li>
                </ul>
            </div>
            <div v-else class="fixed-action-btn gotop">
                <a class="btn-floating btn-large blog-color waves-effect" href="#!" onclick="$('html,body').animate({scrollTop: 0},{easing: 'easeInOutCubic'})">
                  <i class="large material-icons">keyboard_arrow_up</i>
                </a>
            </div>
            <ul>
                <li v-for="post in app.postData">
                    <div class="card" v-bind:id="'post-' + post.id">
                        <div v-if="post.img" class="card-image waves-effect waves-block waves-light">
                            <a v-bind:href="('post?p='+post.id)">
                                <img v-bind:src="post.img || 'static/img/st.jpg'">
                            </a>
                            <div class="card-title col s12" id="tags">
                                <a v-for="tag in post.tags" v-bind:href="get_url_by_tag(tag)">
                                    <div class="chip">{{ tag }}</div>
                                </a>
                            </div>
                        </div>
                        <a v-bind:href="('post?p='+post.id)">
                        <div class="card-content" style="color:#212121">
                            <p class="right">{{ post.date }}</p>
                            <span class="card-title">{{ post.title }}</span>
                            <p>{{ post.subtitle }}</p>
                        </div>
                        </a>
                        <div v-if="app.userData && app.userData.role" class="card-action right-align">
                            <button v-bind:onclick="'app.openModal('+post.id+')'" v-if="app.userData.role" class="btn waves-effect red"><i class="material-icons">delete</i></button>
                            <a v-bind:href="('edit?post='+post.id)" class="btn waves-effect blog-color"><i class="material-icons">mode_edit</i></a>
                        </div>
                    </div>

                    <div v-if="app.userData && app.userData.role" v-bind:id="'modal-'+post.id" class="modal">
                        <div class="modal-content">
                            <h4>Are you sure?</h4>
                            <p>You are deleting: {{ post.title }}</p>
                            <p>This post will be deleted, and can NOT be undone.</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class=" modal-action modal-close waves-effect waves-purple btn-flat no-delete">No</a>
                            <button v-bind:onclick="`app.deletePost(${post.id})`" class=" modal-action modal-close waves-effect waves-red btn-flat red-text">Yes</button>
                        </div>
                    </div>

                </li>
            </ul>
            <!--
            <ul class="pagination">
                <li v-bind:class="app.prevPage===-1?'disabled':''"><a v-bind:href="app.prevPage===-1?'#!':`./?page=${app.prevPage}`"></a></li>
                <li v-for="idx in app.pages" v-bind:class="idx === app.current?'active blog-color':'waves-effect'"><a v-bind:href="idx===app.current?'#!':`./?page=${idx}`">{{ idx }}</a></li>
                <li v-bind:class="app.nextPage===-1?'disabled':''"><a v-bind:href="app.nextPage===-1?'#!':`./?page=${app.nextPage}`"><i class="material-icons">chevron_right</i></a></li>
            </ul>-->
            <div v-if="app.pages" id="load-new" class="center">
                <a id="next-btn" v-if="app.prevPage!==-1" v-bind:href="`./?page=${app.prevPage}`" onclick="app.shiftPage(-1);return false" class="btn waves-light waves-effect blog-color left"><i class="material-icons">chevron_left</i></a>
                <span>Page: {{ app.current }} of {{ app.pages }}</span>
                <a id="prev-btn" v-if="app.nextPage!==-1" v-bind:href="`./?page=${app.nextPage}`" onclick="app.shiftPage(1);return false" class="btn waves-light waves-effect blog-color right"><i class="material-icons">chevron_right</i></a>
            </div>
        </div>
</div>

</div>

<footer class="page-footer blog-color">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text blog-title">Roselia-Blog</h5>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy;<script>document.write((new Date()).getFullYear());</script>
            Designed by Somainer. All Rights Reserved.
            Powered by Roselia-Blog.
        </div>
    </div>
</footer>

<script defer src="static/js/jquery-3.2.1.min.js"></script>
<script defer src="static/js/materialize.min.js"></script>
<script defer src="static/js/vue.min.js"></script>
<script defer src="static/js/utils.js"></script>
<script defer src="static/js/adovec-prog.js"></script>
<script defer src="static/js/blog.js"></script>
</body>
</html>