<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserSpace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="static/css/roselia.css" rel="stylesheet" type="text/css">
    <link href="static/css/materialize.min.css" type="text/css" rel="stylesheet">
    <link href="static/css/material_icons.css" type="text/css" rel="stylesheet">
</head>
<body id="app">
<nav class="blog-color" id="mobile-nav">
    <div class="nav-wrapper">
        <a href="#" data-activates="mobile-list" class="button-collapse"><i class="material-icons">menu</i> </a>
        <div class="container">
            <a href="./" class="brand-logo blog-title">Roselia-Blog</a>
            <ul class="left hide-on-med-and-down">

            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Index</a> </li>
                <li class="active"><a class="username" href="#!"></a> </li>
                <li><a href="./login">Logout</a> </li>
            </ul>
            <ul class="side-nav" id="mobile-list">
                <li><a href="/">Index</a> </li>
                <li class="active"><a class="username" href="#!"></a> </li>
                <li><a href="./login"></a>Logout</li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="" id="content">
        <div class="row">
            <h2 class="blog-text">{{ $t('message.hello', [userData.username]) }}</h2>
            <h3 class="blog-text">{{ $t('message.operation') }}</h3>
            <button class="blog-color btn waves-effect waves-light" onclick="$('#change-password').fadeIn()">{{ $t('message.changePW') }}</button>
            <button v-if="userData.role" onclick="app.openManage()" class="blog-color btn waves-effect waves-light">{{ $t('message.optManage') }}</button>
            <button onclick="$('#remote-login').fadeIn();app.remoteCode=''" class="blog-color btn waves-effect waves-light">{{ $t('message.remoteLogin') }}</button>
            <a href="login.html" class="btn pink darken-1 waves-effect waves-light">{{ $t('message.logout') }}</a>
        </div>
        <div id="modal-su" class="modal modal-fixed-footer">
            <div class="modal-content container">
                <h4 class="blog-text offset-s3">{{ $t('message.inputPW') }}:</h4>
                <span>{{ $t('message.safeInputPW') }}</span>
                <form class="col s12" id="su-data">
                    <div class="container row">
                        <div class="input-field col s12">
                            <input id="su-password" type="password" class="validate" required="required">
                            <label for="su-password">{{ $t('message.password') }}</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-light btn blog-color">{{ $t('message.close') }}</a>
                <a href="#!" onclick="app.getSUToken()" class="modal-action waves-effect waves-light btn blog-color">{{ $t('message.OK') }}</a>
            </div>
        </div>
        <div id="modal-remote" class="modal">
            <div class="modal-content container">
                <h4 class="blog-text offset-s3">{{ $t('message.remoteLogin') }}</h4>
                <p>{{ $t('message.remoteMeta', app.userMeta) }}</p>
            </div>
            <div v-if="!app.loading" class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-light btn blog-color">{{ $t('message.close') }}</a>
                <a href="#!" onclick="app.confirmCode()" class="btn modal-action waves-effect waves-light blog-color">{{ $t('message.OK') }}</a>
            </div>
        </div>
        <div class="row container" id="manage" style="display: none;" v-if="userData.role">

            <div id="modal-add" class="modal modal-fixed-footer">
                <div class="modal-content container">
                    <h4 class="blog-text offset-s3">{{ $t('message.addUser') }}</h4>
                    <form class="col s12" id="add-user">
                        <div class="container row">
                            <div class="input-field col s12">
                                <input id="username" type="text" class="validate" required="required">
                                <label for="username">{{ $t('message.username') }}</label>
                            </div>
                        </div>
                        <div class="container row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate" required="required">
                                <label for="password">{{ $t('message.password') }}</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-light btn blog-color">{{ $t('message.close') }}</a>
                    <a href="#!" onclick="app.addUser()" class="modal-action waves-effect waves-light btn blog-color">{{ $t('message.add') }}</a>
                </div>
            </div>
            <div id="modal-delete" class="modal modal-fixed-footer">
                <div class="modal-content container">
                    <h4 class="pink-text text-accent-3 offset-s3">{{ $t('message.delUser') }}</h4>
                    <p>{{ $t('message.delInform') }}</p>
                    <p id="delete-user"></p>
                    <form class="col s12" id="del-user">
                        <p>{{ $t('message.delConfirm') }}</p>
                        <div class="container row">
                            <div class="input-field col s12">
                                <input id="delete-username" type="text" class="validate" required="required">
                                <label for="delete-username">{{ $t('message.username') }}</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-light btn blog-color">{{ $t('message.close') }}</a>
                    <a href="#!" onclick="app.commitDelete()" class="modal-action waves-effect waves-light btn pink darken-1">{{ $t('message.del') }}</a>
                </div>
            </div>
            <div id="modal-set" class="modal modal-fixed-footer">
                <div class="modal-content container">
                    <h4 class="blog-text offset-s3">{{ $t('message.setPW') }}</h4>
                    <p>{{ $t('message.setPWInform') }}</p>
                    <p id="change-user"></p>
                    <form class="col s12" id="set-pw">
                        <p>{{ $t('message.enterNewPW') }}</p>
                        <div class="container row">
                            <div class="input-field col s12">
                                <input id="set-password" type="password" class="validate" required="required">
                                <label for="set-password">{{ $t('message.password') }}</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-light btn blog-color">{{ $t('message.close') }}</a>
                    <a href="#!" onclick="app.commitSet()" class="modal-action waves-effect waves-light btn pink darken-1">{{ $t('message.set') }}</a>
                </div>
            </div>

            <div class="col s12 m12 offset-m3">
                <div class="card">
                    <div v-if="app.loading" class="progress deep-purple accent-1">
                        <div class="indeterminate blog-color"></div>
                    </div>
                    <div class="row card-content">
                        <span class="card-title blog-text">{{ $t('message.manage') }}</span>
                        <p>{{ $t('message.manageWelcome') }}</p>
                        <table>
                            <thead>
                            <tr>
                                <th data-field="username">{{ $t('message.username') }}</th>
                                <th data-field="action">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="users" v-for="user in users">
                                <th>{{ user.username }}</th>
                                <th>
                                    <button v-bind:onclick="`app.openSet('${user.username}')`" class="btn small waves-effect waves-light blog-color">{{ $t('message.setPW') }}</button>
                                    <button v-bind:onclick="`app.openDelete('${user.username}')`" class="btn small waves-effect waves-light pink darken-1">{{ $t('message.del') }}</button>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                        <button onclick="$('#modal-add').modal().modal('open')" class="right btn waves-light waves-effect">{{ $t('message.addUser') }}</button>
                    </div>
                    <div class="card-action right-align">
                        <button onclick="$('#manage').fadeOut()" class="btn pink darken-1 waves-effect waves-light">{{ $t('message.close') }}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="remote-login" style="display: none;">
            <div class="col s12 m6 offset-m3">
                <div class="card" id="login-form">
                    <div v-if="app.loading" class="progress deep-purple accent-1">
                        <div class="indeterminate blog-color"></div>
                    </div>
                    <div class="row card-content">
                        <div class="col container">
                            <span class="card-title blog-text">{{ $t('message.remoteLogin') }}</span>
                        </div>
                        <form class="col s12">
                            <div class="container row">
                                <div class="input-field col s12">
                                    <input @keyup.enter="app.scanCode(app.remoteCode)" id="login-code" type="number" v-model="app.remoteCode" class="validate" required="required">
                                    <label for="login-code">{{ $t('message.loginCode') }}</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-action right-align">
                        <button onclick="$('#remote-login').fadeOut()" class="btn pink darken-1 waves-effect waves-light" v-if="!app.loading">{{ $t('message.close') }}</button>
                        <button id="code-login-button" onclick="app.scanCode(app.remoteCode)" class="btn waves-effect blog-color waves-light" v-if="!app.loading">{{ $t('message.OK') }}</button>
                        <div class="preloader-wrapper small active" v-if="app.loading">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="change-password" style="display: none;">
            <div class="col s12 m6 offset-m3">
                <div class="card" id="login-form">
                    <div v-if="app.loading" class="progress deep-purple accent-1">
                        <div class="indeterminate blog-color"></div>
                    </div>
                    <div class="row card-content">
                        <div class="col container">
                            <span class="card-title blog-text">{{ $t('message.changePW') }}</span>
                            <p>{{ $t('message.changePWInform', [userData.username]) }}</p>
                        </div>
                        <form class="col s12" id="login-data">
                            <div class="container row">
                                <div class="input-field col s12">
                                    <input id="old-password" type="password" class="validate" required="required">
                                    <label for="old-password">{{ $t('message.oldPW') }}</label>
                                </div>
                            </div>
                            <div class="container row">
                                <div class="input-field col s12">
                                    <input id="new-password" type="password" class="validate" required="required">
                                    <label for="new-password">{{ $t('message.newPW') }}</label>
                                </div>
                            </div>
                            <div class="container row">
                                <div class="input-field col s12">
                                    <input id="retype-password" type="password" class="validate" required="required">
                                    <label for="retype-password">{{ $t('message.confirmPW') }}</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-action right-align">
                        <button onclick="$('#change-password').fadeOut()" class="btn pink darken-1 waves-effect waves-light" v-if="!app.loading">{{ $t('message.close') }}</button>
                        <button id="login-button" onclick="app.changePassword()" class="btn waves-effect blog-color waves-light" v-if="!app.loading">{{ $t('message.change') }}</button>
                        <div class="preloader-wrapper small active" v-if="app.loading">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="page-footer blog-color">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text blog-title">Roselia-Blog</h5>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy;<script>document.write((new Date()).getFullYear());</script>
            Designed by Somainer. All Rights Reserved.
            Powered by Roselia-Blog.
        </div>
    </div>
</footer>

<script defer src="static/js/jquery-3.2.1.min.js"></script>
<script defer src="static/js/materialize.min.js"></script>
<script defer src="static/js/vue.min.js"></script>
<!--<script defer src="https://cdn.bootcss.com/vue-i18n/7.2.0/vue-i18n.min.js"></script>-->
<script defer src="static/js/vue-i18n.min.js"></script>
<script defer src="static/js/utils.js"></script>
<script defer src="static/js/adovec-prog.min.js"></script>
<script defer src="static/js/userspace.js"></script>
</body>
</html>