<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title class="blog-title">{{info.title}} - FirstRun</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-title" content="Roselia Blog">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="apple-touch-icon" href="favicon.ico"/>
    <meta name="theme-color" content="#7c4dff">
    <meta name="description" content="{{ info.title }} - {{ info.motto }}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/materialize/0.100.1/css/materialize.min.css">
    <link href="static/css/material_icons.css" type="text/css" rel="stylesheet">
    <link href="static/css/roselia.css" rel="stylesheet" type="text/css">
    <style>
        .lazy-message{
            display: none;
        }
        body{
            background-size: auto;
            background: linear-gradient(50deg, HSLA(205, 62%, 44%, 1), #F62D51) no-repeat top fixed;
        }
    </style>
</head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<nav class="blog-color" id="mobile-nav">
    <div class="nav-wrapper">
        <a href="#" data-activates="mobile-list" class="button-collapse"><i class="material-icons">menu</i> </a>
        <div class="container">
            <a href="./" class="brand-logo blog-title">{{info.title}}</a>
        </div>
    </div>
</nav>
<div class="white-text">
    <div class="section">
        <div class="container center flow-text">
            <br><br>

            <h1 class="header blog-title lazy-message" id="main-title">Welcome to use {{info.title}}!</h1>
            <br>
            <div class="row">
                <p class="header col s12 light blog-motto lazy-message" id="sub-title">{{info.motto}}</p>
            </div>
            <div>
                <ul id="messages">
                    <li><p class="lazy-message">Just take certain steps to continue...</p></li>
                    <li><p class="lazy-message">Go to userspace and manage users to add yourself.</p></li>
                </ul>
            </div>

            <a href="/userspace?firstrun=true" class="btn blog-color waves-effect">Take me to userspace</a>
            <br><br>
        </div>
    </div>
</div>


<script defer src="static/js/jquery-3.2.1.min.js"></script>
<script defer src="https://cdn.bootcss.com/materialize/0.100.1/js/materialize.min.js"></script>
<script>
    {% if user_data %}
    let userData = {
        username: "{{ user_data.username }}",
        role: {{ user_data.role }},
        token: "{{ token }}"
    };
    window.localStorage.loginData = JSON.stringify(userData);
    {% endif %}
    window.sessionStorage.setItem('suToken', "{{ su_token }}");
    window.onload = () => $(".lazy-message").each((idx, ele) => {
        $(ele).delay(idx*1000).fadeIn();
    });
</script>
<!--
<script defer src="static/js/utils.js"></script>
<script defer src="static/js/blog.js"></script> -->
</body>
</html>