<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <link href='https://fonts.cat.net/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>Roselia-Blog</title>
  </head>
  <body>
    <div id="black-shout"></div>
  <script>
    function _injectAid() {
      var createNode = function(path) {
        const node = document.createElement('script')
        node.src = '//' + location.hostname + ':8080' + path
        node.async = true
        document.body.appendChild(node)
      };
      ['/static/js/chunk-vendors.js', '/static/js/app.js'].forEach(createNode);
    }
  </script>
  <script type="text/javascript" src="//localhost:8080/static/js/chunk-vendors.js" onerror="_injectAid()"></script>
  <script type="text/javascript" src="//localhost:8080/static/js/app.js" onerror="_injectAid()"></script>
</body>
</html>