<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <title>{{ info.title }}</title>
  <meta name="apple-mobile-web-app-title" content="{{ info.title }}">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <link rel="apple-touch-icon" href="favicon.ico"/>
  <meta name="theme-color" content="#7c4dff">
  <meta name="description" content="{{ info.title }} - {{ info.motto }}">
  <link rel="shortcut icon" href=/favicon.ico> <link href="https://fonts.cat.net/css?family=Roboto:100,300,400,500,700,900|Material+Icons"
    rel=stylesheet>
  <link rel=manifest href=/manifest.json>
  <link href=/static/css/chunk-vendors.575cc592.css rel=stylesheet>
  <link href=/static/css/app.550f5b3c.css rel=stylesheet>
</head>

<body>
  <div id="black-shout">
    <div></div>
    <div>
      <div class="application--wrap">
        <main class="v-content" data-booted="true" style="padding: 0px;">
          <div class="v-content__wrap">
            <div data-v-1be1f375="">
              <nav data-v-664eff5e="" data-v-1be1f375="" class="white--text v-toolbar primary" data-booted="true" style="margin-top: 0px; padding-right: 0px; padding-left: 0px; transform: translateY(0px);">
                <div class="v-toolbar__content" style="height: 48px;">
                  <div data-v-664eff5e="" class="v-toolbar__title"><a data-v-664eff5e="" href="/" class="white--text no-deco router-link-exact-active router-link-active">Roselia-Blog</a></div>
                  <div data-v-664eff5e="" class="spacer"></div>
                  <div data-v-664eff5e="" class="v-toolbar__items"><a data-v-664eff5e="" href="/" class="v-btn--active v-btn v-btn--flat v-btn--router theme--dark"><div class="v-btn__content">Index</div></a>
                    <a data-v-664eff5e="" href="/login" class="v-btn v-btn--flat v-btn--router theme--dark"><div class="v-btn__content">Login</div></a></div>
                </div>
              </nav>
              <div data-v-1be1f375="" class="v-parallax" dark="" style="height: 500px;">
                <div class="v-parallax__image-container"><img src="static/img/bg_n3.jpg" class="v-parallax__image" style="display: block; opacity: 0; transform: translate(-50%, 0px);"></div>
                <div
                  class="v-parallax__content">
                  <div data-v-1be1f375="" class="layout align-center column justify-center">
                    <h1 data-v-1be1f375="" class="display-2 font-weight-thin mb-3">Roselia-Blog</h1>
                    <h4 data-v-1be1f375="" class="subheading">Do what you want to do, be who you want to be.</h4>
                  </div>
                </div>
              </div>
              <div data-v-1be1f375="" class="layout">
                <div data-v-1be1f375="" class="container fluid grid-list-lg">
                  <div data-v-1be1f375="" class="layout row wrap">
                    {% for post in posts %}
                    {% set link = 'post?p={}'.format(post.id) %}
                    <div data-v-1be1f375="" class="flex xs12 sm8 offset-sm2">
                      <a data-v-1be1f375="" href="{{ link }}" class="v-card v-card--hover">
                      <!---->
                      {% if post.img %}
                      <div data-v-1be1f375=""
                          class="v-card__media" ripple="true" style="height: 500px;">
                          <div class="v-card__media__background"
                            style="background: url('{{ post.img }}') center center / cover no-repeat;"></div>
                          <div class="v-card__media__content">
                            <div data-v-1be1f375="" class="container fill-height fluid">
                              <div data-v-1be1f375="" class="layout align-end fill-height">
                                {% for tag in post.tags %}
                                <div data-v-1be1f375="" class="flex xs12 align-end flexbox"><a data-v-1be1f375="" href="?tag={{tag}}" class=""><span data-v-1be1f375=""
                                      tabindex="0" class="v-chip"><span class="v-chip__content">{{ tag }}</span></span></a></div>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                      <div data-v-1be1f375="" class="v-card__title v-card__title--primary">
                        <div data-v-1be1f375="">
                          <div data-v-1be1f375="" class="headline">{{ post.title }}</div> <span data-v-1be1f375="" class="grey--text">{{ post.subtitle }}</span></div>
                          {{post.author.nickname}}
                        <div
                          data-v-1be1f375="" class="spacer"></div> <span data-v-1be1f375="" class="right">{{ post.date }}</span></div>
                      
                    </a>
                  </div>
                  {% endfor %}
                  </div>
                </div>
              </div>
              <div data-v-1be1f375="" class="container">
                <div data-v-1be1f375="" class="layout">
                  {% if pages.current > 1 %}
                  <a data-v-1be1f375="" href="/?page={{pages.current - 1}}" class="v-btn v-btn--floating v-btn--router v-btn--small primary">
                    <div
                      class="v-btn__content">
                      <i data-v-1be1f375="" aria-hidden="true" class="v-icon material-icons">chevron_left</i>
                    </div>
                  </a>
                  {% endif %}
                  <div data-v-1be1f375="" class="spacer"></div>
                  {{ pages.current }} / {{ pages.pages }}
                  <div data-v-1be1f375="" class="spacer"></div> 
                  {% if pages.current < pages.pages %}
                  <a data-v-1be1f375="" href="/?page={{pages.current + 1}}" class="v-btn v-btn--floating v-btn--router v-btn--small primary">
                    <div
                      class="v-btn__content">
                      <i data-v-1be1f375="" aria-hidden="true" class="v-icon material-icons">chevron_right</i>
                    </div>
                  </a>
                  {% endif %}
                </div>
              </div>
              <!---->
              <div data-v-45be74f0="" data-v-1be1f375="" class="layout"><button data-v-45be74f0="" type="button" class="fixed-action-btn v-btn v-btn--bottom v-btn--floating v-btn--fixed v-btn--right secondary scale-transition-leave-active scale-transition-leave-to"
                  style="bottom: 64px;"><div class="v-btn__content"><i data-v-45be74f0="" aria-hidden="true" class="v-icon material-icons">keyboard_arrow_up</i></div></button>
                <!---->
              </div>
              <footer data-v-41aeeb5b="" data-v-1be1f375="" class="v-footer primary lighten-1" style="height: auto;">
                <div data-v-41aeeb5b="" class="layout justify-center row wrap">
                  <div data-v-41aeeb5b="" class="flex primary lighten-2 py-3 text-xs-center white--text xs12">
                    ©2018 — <strong data-v-41aeeb5b="">Somainer</strong></div>
                </div>
              </footer>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
  <script src=/static/js/chunk-vendors.f9a53428.js> </script>
  <script src=/static/js/app.9c8ff30b.js> </script>
</body>

</html>