<!DOCTYPE html>
<html>
{% set link = 'post/{}'.format(post.display_id) if post.display_id else 'post?p={}'.format(post.id) %}
{% set absolute_link = '{}{}'.format(info.link, link) %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <title>{{ post.title }}</title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <link rel="apple-touch-icon" href="favicon.ico"/>
  <meta name="theme-color" content="#6670ed">
  <meta name="description" content="{{ post.title }} - {{ post.subtitle }}">
  {% include 'seo_og.html' with context %}
  <link rel="shortcut icon" href=/favicon.ico> <link href="https://fonts.loli.net/css?family=Roboto:100,300,400,500,700,900|Material+Icons"
    rel=stylesheet>
  <link rel=manifest href=/manifest.json>
  <!-- Replace your built CSS file here.-->
  <link href=/static/css/chunk-vendors.604acd57.css rel=stylesheet>
  <link href=/static/css/app.39781cfd.css rel=stylesheet>
</head>

<body>
  <div id="black-shout">
    <div></div>
    <div>
      <div class="application--wrap">
        <main class="v-content" data-booted="true" style="padding: 0px;">
          <div class="v-content__wrap">
            <div data-v-c8479e4c="" id="post">
              <nav data-v-664eff5e="" data-v-c8479e4c="" class="white--text v-toolbar primary" data-booted="true" style="margin-top: 0px; padding-right: 0px; padding-left: 0px; transform: translateY(0px);">
                <div class="v-toolbar__content" style="height: 48px;">
                  <div data-v-664eff5e="" class="v-toolbar__title"><a data-v-664eff5e="" href="{{ info.link }}" class="white--text no-deco router-link-active">{{ info.title }}</a></div>
                  <div
                    data-v-664eff5e="" class="spacer"></div>
                  <div data-v-664eff5e="" class="v-toolbar__items"><a data-v-664eff5e="" href="/" class="v-btn v-btn--flat v-btn--router theme--dark"><div class="v-btn__content">Index</div></a>
                    <a data-v-664eff5e="" href="/login" class="v-btn v-btn--flat v-btn--router theme--dark"><div class="v-btn__content">Login</div></a></div>
                </div>
              </nav>
              <div data-v-c8479e4c="" class="v-parallax" id="main-pic">
                <div class="v-parallax__image-container"><img src="{{ (post.img) if post.img else './static/img/nest.png' }}" class="responsive-img"></div>
                <div
                  class="v-parallax__content">
                  <div data-v-c8479e4c="" class="layout align-center column justify-center">
                    <h1 data-v-c8479e4c="" id="title" class="display-2 font-weight-thin mb-3">{{ post.title }}</h1>
                    <h4 data-v-c8479e4c="" id="subtitle" class="subheading">{{ post.subtitle }}</h4>
                    <h4 data-v-c8479e4c="" id="date" class="subheading">{{ post.date }}</h4>
                    <h4 class="subheading">{{ post.author.nickname }}</h4>
                  </div>
                </div>
              </div>
              <div data-v-45be74f0="" data-v-c8479e4c="" class="layout"><button data-v-45be74f0="" type="button" class="fixed-action-btn v-btn v-btn--bottom v-btn--floating v-btn--fixed v-btn--right secondary scale-transition-leave-active scale-transition-leave-to"
                  style="bottom: 64px;"><div class="v-btn__content"><i data-v-45be74f0="" aria-hidden="true" class="v-icon material-icons">keyboard_arrow_up</i></div></button>
                <!---->
              </div>
              <div data-v-c8479e4c="" class="container grid-list-md fluid fill-height">
                <div data-v-c8479e4c="" class="layout">
                  <div data-v-c8479e4c="" class="flex wrap row xs12 sm10 offset-sm2">
                    {% for tag in post.tags %}
                    <div data-v-c8479e4c="" class="layout row"><a data-v-c8479e4c="" href="./?tag={{tag}}" class=""><span data-v-c8479e4c="" tabindex="0" class="v-chip"><span
                            class="v-chip__content">{{tag}}</span></span></a></div>
                    {% endfor %}
                    <div data-v-c8479e4c="" class="flex xs10 offset xs2">
                      <!---->
                    </div>
                    <div data-v-c8479e4c="" class="layout">
                      <div data-v-c8479e4c="" class="flex sm10">
                        <div data-v-c8479e4c="" id="content" class="flow-text responsive-img">
                          {{ post.content | safe }}
                        </div>
                      </div>
                      <!---->
                    </div>
                    <div data-v-c8479e4c=""></div>
                  </div>
                </div>
              </div>
              <div data-v-c8479e4c="" class="container">
                <div data-v-c8479e4c="" class="flex row xs12 sm10 offset-sm1">
                  <div data-v-c8479e4c="" class="layout">
                        {% if post.next >=0 %}
                        <a data-v-1be1f375="" href="{{ info.link }}post?p={{post.next}}" class="v-btn v-btn--floating v-btn--router v-btn--small primary">
                          <div
                            class="v-btn__content">
                            <i data-v-1be1f375="" aria-hidden="true" class="v-icon material-icons">chevron_left</i>
                          </div>
                        </a>
                        {% endif %}
                        <div data-v-1be1f375="" class="spacer"></div>
                        {% if post.prev >=0 %}
                        <a data-v-1be1f375="" href="{{ info.link }}post?p={{post.prev}}" class="v-btn v-btn--floating v-btn--router v-btn--small primary">
                          <div
                            class="v-btn__content">
                            <i data-v-1be1f375="" aria-hidden="true" class="v-icon material-icons">chevron_right</i>
                          </div>
                        </a>
                        {% endif %}
                  </div>
                </div>
              </div>
              <footer data-v-41aeeb5b="" data-v-c8479e4c="" class="v-footer primary lighten-1" style="height: auto;">
                <div data-v-41aeeb5b="" class="layout justify-center row wrap">
                  <div data-v-41aeeb5b="" class="flex primary lighten-2 py-3 text-xs-center white--text xs12">
                    ©2019 — <strong data-v-41aeeb5b="">Somainer</strong></div>
                </div>
              </footer>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
  <!-- Replace your built JS file here.-->
  <script src=/static/js/chunk-vendors.1c99678f.js> </script>
  <script src=/static/js/app.b4a99e3c.js> </script>
</body>

</html>