<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
</head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<nav class="blog-color" id="mobile-nav">
    <div class="nav-wrapper">
        <a href="#" data-activates="mobile-list" class="button-collapse"><i class="material-icons">menu</i> </a>
        <div class="container">
            <a href="/" class="brand-logo blog-title">Roselia-Blog</a>
            <ul class="left hide-on-med-and-down">
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Index</a> </li>
                {% if userData %}
                <li><a href="./login.html" class="username">{{ userData.username }}</a> </li>
                {% else %}
                <li><a href="./login.html" class="username">Login</a> </li>
                {% endif %}
            </ul>
            <ul class="side-nav" id="mobile-list">
                <li><a href="./">Roselia-Blog</a> </li>
                <li><a href="/">Index</a> </li>
                {% if userData %}
                <li><a href="./login.html" class="username">{{ userData.username }}</a> </li>
                {% else %}
                <li><a href="./login.html" class="username">Login</a> </li>
                {% endif %}
                <li><div class="divider"></div> </li>
                <li><a href="/">Main-Page</a> </li>
            </ul>
        </div>
    </div>
</nav>
<div class="parallax-container white-text">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center blog-text text-lighten-5 left" id="main-title">{{ post.title }}</h1>
            <br>
            <div class="row">
                <p class="header col s12 light" id="sub-title">{{ post.subtitle | safe }}</p>
                <p class="header col s12" id="date">{{ post.date }}</p>
            </div>
            <br><br>
        </div>
    </div>
    {% set prefix = '..' + '' if post.img and post.img.startswith('/') else '/' %}
    <div class="parallax"><img id="main-pic" src="{{ (prefix+post.img) if post.img else '../static/img/mont-fuji.JPG' }}"> </div>
</div>

<div class="container" id="main">

    <div class="section">
        <div class="row" id="post">
            {% if userData and userData.role and post.id>=0 %}
            <div class="card-action right-align">
                <a href="../edit.html?post={{ post.id }}" class="btn waves-effect blog-color">Edit</a>
            </div>
            {% endif %}
            <div class="col s12" id="tags">
                {% for tag in post.tags %}
                <a href='../?tag={{ tag }}'><div class='chip'>{{ tag }}</div></a>
                {% endfor %}
            </div>
        </div>
        <div class="col s12 m6" id="content">
            {{ post.content | safe }}
        </div>
        <div class="left-align">
            {% if post.next >=0 %}
            <a id="next-btn" href="../post/{{ post.next }}" class="btn waves-light waves-effect blog-color left-aligned">&lt;Next</a>
            {% endif %}
            {% if post.prev >=0 %}
            <a id="prev-btn" href="../post/{{ post.prev }}" class="btn waves-light waves-effect blog-color right">Prev&gt;</a>
            {% endif %}
        </div>
    </div>

</div>


<footer class="page-footer blog-color">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text blog-title">Roselia-Blog</h5>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy;<script>document.write((new Date()).getFullYear());</script>
            Designed by Somainer. All Rights Reserved.
            Powered by Roselia-Blog.
        </div>
    </div>
</footer>

<script defer src="/static/js/jquery-3.2.1.min.js"></script>
<script defer src="/static/js/materialize.min.js"></script>
<link href="/static/css/materialize.min.css" type="text/css" rel="stylesheet">
<link href="/static/css/material_icons.css" type="text/css" rel="stylesheet">
<link href="/static/css/roselia.css" rel="stylesheet" type="text/css">
<script defer src="../static/js/post.seo.js"></script>
<script defer src="https://cdn.bootcss.com/aplayer/1.6.0/APlayer.min.js"></script>
<script defer src="../static/js/utils.js"></script>
<script>
    {% if userData %}
    let userData = {
        username: {{ userData.username }},
        role: {{ userData.role }},
        token: {{ userData.token }}
    };
    window.localStorage.loginData = JSON.stringify(userData);
    {% endif %}
</script>
</body>
</html>