{%- if post.img -%}
<meta name="twitter:image:src"
    content="{{ post.img }}" />

<meta property="og:image"
    content="{{ post.img }}" />
{% endif %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ post.title }}" />
<meta name="twitter:description"
    content="{{ post.subtitle }}" />
<meta property="og:site_name" content="{{ info.title }}" />
<meta property="og:type" content="object" />
<meta property="og:title" content="{{ post.title }}" />
<meta property="og:url" content="{{ absolute_link }}" />
<meta property="og:description"
    content="{{ post.subtitle }}" />